#app {
  // 主体区域
  .main-container {
    min-height:calc(100vh - 95px);
    transition: margin-left .28s;
    margin-left: 228px;
    position: relative;
    background: #fff;
    margin-top: 95px;
  }
  // 侧边栏
  .sidebar-container {
    transition: width 0.28s;
    width: 220px !important;
    //height: 100%;
    position: absolute;
    font-size: 0px;
    top: 80px;
    bottom: 30px;
    left: 0;
    z-index: 1001;
    border-top:15px solid $color_normal_bg;
    background: #fff;
    overflow: hidden;
    //reset element-ui css
    .horizontal-collapse-transition {
      transition: 0s width ease-in-out, 0s padding-left ease-in-out, 0s padding-right ease-in-out;
    }
    .el-menu-item,.el-submenu__title{
      background: #fff;
    }
    .el-scrollbar__bar.is-vertical{
      right: 0px;
    }
    .scrollbar-wrapper {
      overflow-x: hidden!important;
      .el-scrollbar__view {
        height: 100%;
      }
    }
    .is-horizontal {
      display: none;
    }
    a {
      display: inline-block;
      width: 100%;
      overflow: hidden;
    }
    .iconfont {
      margin-right: 10px;
      color: inherit;
    }
    .el-menu {
      border: none;
      height: 100%;
      width: 100% !important;
    }
    .el-submenu__title:hover,.el-menu-item:hover{
      background: #fff;
      color: $color_norm;
    }
    .el-scrollbar__view>.el-menu > .menu-wrapper > .is-active > .el-submenu__title{
      border-left: 4px solid $color_norm;
    }
    .is-active > .el-submenu__title{
      color: $color_norm!important;
      background: $menuBg;
    }
  }
  .hideSidebar {
    .sidebar-container {
      width: 36px !important;
    }
    .main-container {
      margin-left: 44px;
    }
    .submenu-title-noDropdown {
      padding-left: 10px !important;
      position: relative;
      .el-tooltip {
        padding: 0 10px !important;
      }
    }
    .el-submenu {
      overflow: hidden;
      &>.el-submenu__title {
        padding-left: 10px !important;
        .el-submenu__icon-arrow {
          display: none;
        }
      }
    }
    .el-menu--collapse {
      .el-submenu {
        &>.el-submenu__title {
          &>span {
            height: 0;
            width: 0;
            overflow: hidden;
            visibility: hidden;
            display: inline-block;
          }
        }
      }
    }
  }
  .sidebar-container .nest-menu .el-submenu>.el-submenu__title,
  .sidebar-container .el-submenu .el-menu-item {
    min-width: 180px !important;
    background-color: $subMenuBg !important;
    &:hover {
      background-color: $menuHover !important;
    }
  }
  .el-menu--collapse .el-menu .el-submenu {
    min-width: 180px !important;
  }
  .el-menu-item,.el-submenu__title{
    border-bottom: 1px solid $color_normal_bg;

  }
  //适配移动端
  .mobile {
    .main-container {
      margin-left: 0px;
      background: #fff;
    }
    .sidebar-container {
      transition: transform .28s;
      width: 180px !important;
      top:0;
    }
    &.hideSidebar {
      .sidebar-container {
        transition-duration: 0.3s;
        transform: translate3d(-180px, 0, 0);
      }
    }
  }
  .withoutAnimation {
    .main-container,
    .sidebar-container {
      transition: none;
    }
  }
}

.el-menu--vertical{
  & >.el-menu{
    .iconfont {
      margin-right: 10px;
      color: inherit;
    }
  }
}
